body{
      font-family: 'Poppins', sans-serif;
      display: block;
      margin-left: 15px;
}
h1{
    font-size: 30px;
}
section{
    display: block;
}
#margin-line{
    padding-inline: 10px;
}
.mission-color{
color: rgba(255, 0, 0, 0.493)
}
.flexible-container{
    display: flex;
    width: 50%;
    padding: 10px 10px 10px;
}
.border-line{
    border-left: 5px solid orangered;
}
.half-width{
    width: 50%;
    padding: 5px;
}
.half-width image{
    width: 40px;
    padding: 2px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered tomato);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}
.background-image{
    background-image: url(images/shapes/shape-5.png);
    background-position: center;
}
#mission{
    margin: 15px ;
}
footer{
    text-align: center;
    background-color: black;
    text-color: white;
}